h3 {
    text-align: left;
    background-color: greenyellow;
}

p.centrado {
    text-align: center;
    background-color: darkkhaki;
}

#derecha {
    text-align: right;
    background-color: blueviolet;
}